﻿@model SecureBadge.Entities.Models.AssessmentModel
<div class="container">

    <h1>@Model.Title</h1>
    <hr />
    <div class="row">
        <div class="col-md-12">

            @foreach (var item in Model.Questions)
            {
            <div class="question">
                <div>@item.Text</div>
                <div class="answer-group">
                    @foreach (var a in item.Choices)
                    {
                        <div class="answer">
                            <input type="radio" id="html" name="@item.QuestionID" value="@a.IsCorrect" /> @a.Text
                        </div>
                    }
                </div>
            </div>
            }
            <form asp-action="Badge" method="post">
                <input type="hidden" asp-for="AssessmentiD" />
                <div class="form-group">
                    <input type="submit" value="Submit" class="btn btn-primary" style="float: right;" />
                </div>
            </form>
        </div>
    </div>

</div>
