﻿@model SecureBadge.Entities.Models.BadgeModel
<div class="container">
    <h1>Congratulations!</h1>
    <h3>You have successully earned a certificate</h3>
    <div style="position:relative;padding-top:100%;">
        <iframe src="@Model.URL" frameborder="0" allowfullscreen
                style="position:absolute;top:0;left:0;width:100%;height:100%;"></iframe>
    </div>
</div>