﻿<link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
<table class="cert">
    <tr>
        <td align="center" class="crt_logo">
            <img src="https://www.ascendlearning.com/wp-content/uploads/2022/01/Ascend-Learning-logo-PNG-cropped-1024x466.png" alt="logo">

        </td>
    </tr>
    <tr>
    <td align="center">
        <h1 class="crt_title">
        Certificate Of Completion
        <h2>This Certificate is awarded to</h2>
        <h1 class="colorGreen crt_user">FirstName LastName</h1>
        <h3 class="afterName">
            For his/her completion of AssessmentName
        </h3>
        <h3>Awarded on DateAwarded TimeCompleted</h3>
    </td>
    <tr>
        <td align="center" class="crt_logo">
            <img src="https://imagedelivery.net/k29iTJbNMSP-ufIO1H7_Zg/a8dab530-595c-49e3-6b3c-dfe381f03600/public" alt="logo">

        </td>
    </tr>
</table>