﻿@using Microsoft.AspNetCore.Identity
@inject SignInManager<SecureBadge.Entities.User> SignInManager
@inject UserManager<SecureBadge.Entities.User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link navbar-link" asp-controller="Assessment"
       asp-action="Index">
        <i class="fa-solid fa-book"></i>
        My Assessments
    </a>
    <a class="nav-link navbar-link" asp-area="" asp-controller="Home" asp-action="Badges">
        <i class="fa-solid fa-trophy"></i>
        My Badges
    </a>
    <form asp-controller="Account" asp-action="Logout">
        <button type="submit" class="nav-link navbar-link">
            <i class="fa-solid fa-right-from-bracket"></i>
            Logout
        </button>
    </form>
}
else
{

    <a class="nav-link navbar-link" asp-controller="Account"
       asp-action="Login">Login</a>

    <a class="nav-link navbar-link" asp-controller="Account"
       asp-action="Register">Register</a>

}
